<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hello.mybatis.repository.mybatis.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.hello.mybatis.repository.pojo.User">
        <id property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <insert id="createUser" parameterType="com.hello.mybatis.repository.pojo.User" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO user (
        name,
        gender,
        birthday,
        email,
        phone
        )
        VALUES
        (
        #{name},
        #{gender},
        #{birthday},
        #{email},
        #{phone}
        );
    </insert>

    <select id="selectUserById" parameterType="int" resultMap="userResultMap">
        SELECT * FROM user WHERE id=#{id}
    </select>

    <select id="listUserByIdList" resultMap="userResultMap">
        SELECT * FROM user WHERE id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>